<?xml version="1.0" encoding="UTF-8"?>
<beans 
 xmlns="http://www.springframework.org/schema/beans" 
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 xmlns:p="http://www.springframework.org/schema/p" 
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
 
	<bean id="project" class="com.mycompany.ci.Project"> 
		<constructor-arg name="title" value="ESS"></constructor-arg> 
		<constructor-arg name="location" value="India"></constructor-arg> 
	</bean> 
	<bean id="employee" class="com.mycompany.ci.Employee">
		<constructor-arg name="id" value="670"></constructor-arg>
		<constructor-arg name="name" value="Rima"></constructor-arg>
		<constructor-arg name="salary" value="22000"></constructor-arg>
		<constructor-arg name="project">
			<ref bean="project"></ref>
		</constructor-arg>
	</bean>
</beans>